:root {
  --font-family: "Roboto", sans-serif;

  --color-titleprincipal-blue: #18acc4;
  --color-titlesecond-blue: #007a8d;

  --color-input: #1f2d30;
  --color-inputbackground: #ddd;

  --color-body-bg: #eee

  --color-text: #555;
  --cor-aviso: #df2525;

  --sombra: 0 5px 10px black;
}

body {
  font-style: var(--font-family);
  background-color: var(--color-body-bg);
}

.navbar-bg {
  background-color: black;
}

.title {
  color: var(--color-titleprincipal-blue);
  font-size: 2rem;
}

.subtitle {
  color: #007a8d;
  font-weight: 400;
}

.text {
  color: var(--color-text);
}

.input-container {
  position: relative;
  margin-bottom: 1rem;
  box-sizing: border-box;
  display: inline-block;
  width: 35%;
}

.input {
  color: var(--color-input);
  background-color: var(--color-inputbackground);
  box-sizing: border-box;
  padding: 1.375rem 0.5rem 0.5rem;
  height: 3.25rem;
  width: 100%;
  border-radius: 5px;
}

.input::placeholder {
  visibility: hidden;
  color: #00000000;
}

.input:focus {
  outline: none;
}

.input-container--invalido {
  margin-bottom: 0.5rem;
}

.input-container--invalido .input {
  border: 1px solid var(--cor-aviso);
  border-radius: 7px;
}

.input-label {
  position: absolute;
  top: 1.375rem;
  left: 0.5rem;
  font-size: 20px;

  transition: all 0.25s;
}

.input-container--invalido .input-label,
.input-container--invalido .input {
  color: var(--cor-aviso);
}

.input-mensagem--erro {
  display: none;
}

.input-container--invalido .input-mensagem--erro {
  color: var(--cor-aviso);
  display: block;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
}

.input:not(:placeholder-shown) + .input-label,
.input:focus + .input-label {
  font-size: 0.875rem;
  top: 0.25rem;
  transition: all 0.25s;
}

.invisivel {
  display: none;
}

img {
  height: 75px;
  border: darkblue;
  border-style: solid;
}

.imgModal {
  height: 50px;
  border: darkblue;
  border-style: solid;
}

.flex {
  display: flex;
}

.flex--centro {
  align-items: center;
  justify-content: center;
}

.flex--coluna {
  flex-direction: column;
}

.dataTables_filter {
  display: none;
}

.btn-exibir-cursos:hover {
  background-color: var(--color-titleprincipal-blue);
  border-color: var(--color-titleprincipal-blue);
  color: white;
  opacity: 0.7
}

.btn-exibir-cursos {
  border-color: var(--color-titlesecond-blue);
  background-color: var(--color-inputbackground);
  color: var(--color-input);
  border-radius: 5px;
}

ul.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

legend {
  font-size: 1.5rem;
  color: white;
  opacity: 0.8;
}

.text-cabecalho{
  font-weight: bold;
}

.cartao {
  background-color: var(--color-titlesecond-blue);
  border-radius: 10px;
  box-shadow: var(--sombra);
  width: 100%;
  max-width: 95%;
  padding: 1.25rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.university-name-score,
.course-name-kind {
  font-weight: bold;
  text-align: center;
}

.cartao-modal{
  background-color: var(--color-inputbackground);
  border-radius: 10px;
  box-shadow: var(--sombra);
  width: 100%;
  max-width: 95%;
  padding: 1.25rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.footer-contents {
  background-color: black;
  color: var(--color-titlesecond-blue);
  font-weight: 50;
  font-size: 0.75rem;
  margin: 0;
}